- if session[:cart_id]
  - if @cart.length > 0
    .cartitems
      - price_sum = 0
      - quantity_sum = 0
      - @cart.each do |item|
        - price = item[:itemprice]
        - quantity = item[:quantity]
        - price_sum += price * quantity
        - quantity_sum += quantity
      .cartitems__output
        カートの中の商品: #{@cart.length}品目、#{quantity_sum}点、小計#{price_sum}円(税抜)  
      .cartitems__delete
        = link_to 'カートを空にする', orderitem_path(@cart), method: :delete

-# .cartitems
-#   - price_sum = 0
-#   - quantity_sum = 0
-#   - @cart.each do |item|
-#     - price = item["p"].to_i
-#     - quantity = item["q"].to_i
-#     - price_sum += price * quantity
-#     - quantity_sum += quantity
-#   カートの中の商品: #{@cart.length}品目、#{quantity_sum}点、小計#{price_sum}円(税抜)  
