
.orderitems
  受注商品一覧
  .orderitems__detail
    %table
      %tr
        %th.orderitems__detail--code
          JANコード
        %th.orderitems__detail--name
          商品名
        %th.orderitems__detail--price
          売価
        %th.orderitems__detail--quantity
          数量
        %th.orderitems__detail--orderid
          オーダーID
      - @orderitems.each do |orderitem|      
        %tr
          %td.orderitems__detail--code
            = orderitem.itemcode
          %td.orderitems__detail--name
            = orderitem.itemname
          %td.orderitems__detail--price
            = "#{orderitem.itemprice}円"
          %td.orderitems__detail--quantity
            = orderitem.quantity
          %td.orderitems__detail--orderid
            = orderitem.order_id
