.show
  - if @cart
    = render "shared/calcsum" 
  .show__item
    .show__item__detail
      .show__item__detail__name
        = @item.name
      .show__item__detail__price
        = "本体価格  #{@item.price} 円"
      .show__item__detail__image__box
        .show__item__detail__image__box__image
          = image_tag("", alt: "#{@item.name}")
      .show__item__detail__order
        .show__item__detail__order__box
          = form_with(url: cartitems_path, local: true) do |f|
            = f.hidden_field :item_id, value: @item.id, class: "main__items__item__order__id"
            = f.hidden_field :itemcode, value: @item.code, class: "show__item__detail__order__box__code"
            = f.hidden_field :itemname, value: @item.name, class: "show__item__detail__order__box__name"
            = f.hidden_field :itemprice, value: @item.price, class: "show__item__detail__order__box__price"
            = f.number_field :quantity, min:"1", max:"10",class: "show__item__detail__order__box__quantity"
            = f.submit 'カートに入れる', class: "show__item__detail__order__box__cartin"  
  - if user_signed_in? && current_user.admin?
    .show__item__admin
      = link_to "商品編集", edit_item_path