.main
  - if flash[:notice]
    = render 'layouts/notification'
  - if @cart
    = render "shared/calcsum"

  .main__items 
    - @items.each do |item|
      .main__items__item
        = link_to item_path(item) do
          .main__items__item__imgbox
            = image_tag item.image.url, alt: item.name, class: "main__items__item__imgbox__image" if item.image.present?
          .main__items__item__name
            = link_to "#{item.name}", item_path(item)
        .main__items__item__price
          本体価格<br>
          %span
            = "#{item.price} 円"
        .main__items__item__order
          = form_with(url: cartitems_path, local: true, class: "main__items__item__order__form") do |f|
            = f.hidden_field :item_id, value: item.id, class: "main__items__item__order__id"
            = f.hidden_field :itemcode, value: item.code, class: "main__items__item__order__code"
            = f.hidden_field :itemname, value: item.name, class: "main__items__item__order__name"
            = f.hidden_field :itemprice, value: item.price, class: "main__items__item__order__price"
            = f.number_field :quantity, min:"1", max:"10",class: "main__items__item__order__quantity"
            = f.submit 'カートに入れる', class: "main__items__item__order__cartin"