.main
  = render "items/calcsum"
  .main__items
    -# - if flash[:notice]
    -#   = render 'layouts/flash'
    - @items.each do |item|
      .main__items__item
        .main__items__item__imgbox
          .main__items__item__imgbox__image
        .main__items__item__name
          = link_to "#{item.name}", item_path(item)
        .main__items__item__price
          本体価格<br>
          = "#{item.price} 円"
        .main__items__item__order
          = form_with(url: cartitems_path, local: true, class: "main__items__item__order__form") do |f|
            = f.hidden_field :code, value: item.code, class: "main__items__item__order__code"
            = f.hidden_field :name, value: item.name, class: "main__items__item__order__name"
            = f.hidden_field :price, value: item.price, class: "main__items__item__order__price"
            = f.number_field :quantity, min:"0", max:"10",class: "main__items__item__order__quantity"
            = f.submit 'カートに入れる', class: "main__items__item__order__cartin"