.item__new
  .item__new__title
    商品登録画面
  .item__new__box
    = form_with(model: @item, local: true) do |f|
      .item__new__box__input
        = f.label :categorynumber, value: "部門番号:", class: 'item__new__label'
        = f.text_field :categorynumber, class: 'item__new__field__s'
      .item__new__box__input
        = f.label :category, value: "部門名:", class: 'item__new__label'
        = f.text_field :category, class: 'item__new__field'
      .item__new__box__input
        = f.label :code, value: "商品コード:", class: 'item__new__label'
        = f.text_field :code, class: 'item__new__field__m'
      .item__new__box__input
        = f.label :name, value: "商品名:", class: 'item__new__label'
        = f.text_field :name, class: 'item__new__field'
      .item__new__box__input
        = f.label :price, value: "価格:", class: 'item__new__label'
        = f.text_field :price, class: 'item__new__field__s'
      .item__new__box__input
        = f.label :taxrate, value: "税率:", class: 'item__new__label'
        = f.text_field :taxrate, class: 'item__new__field__s'
      .item__new__box__input
        = f.label :image, value: "画像:", class: 'item__new__label'
        = f.file_field :image, class: 'item__new__field__image'
      .item__new__box__submit
        = f.submit "登録する", class: 'item__new__submit-btn'
