= render "shared/adheader"
.category
  - if @category.errors.any?
    - @category.errors.full_messages.each do |message|
      = message
      %br
  - else
    部門登録が完了しました。
  .category__registration
    部門一覧
    %table
      %tr
        %th 部門番号
        %th 部門名
        %th
      - @categories.each do |cate|
        %tr
          %td #{cate.code}
          %td #{cate.name}
          %td
            %button
              = link_to '編集する', edit_category_path(cate.id), class: "category__registration__submit-btn"